* {
    color: #eee;
    font-size: 30px;
}

.bg {
    background-color: #142b42;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadbar {
    width: 100%;
    background-color: rgb(61, 61, 61);
    height: 20px;

    overflow: hidden;

    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
}

.progressbar {
    width: 0%;
    background-color: #1b79b8;
    height: 20px;
    position: absolute;
    left: 0%;
}